extends layout

block content
 h1 About Us
  hr
  div
    h2
      p This is our team project for the
        a(href="https://telerikacademy.com/Courses/Courses/Details/305")  End-to-End JavaScript Applications.
      p It's goal is to gather all the Pirates in one place and let them share their pirate stuff for free. Arr Arrr!!!
  hr
  div
    h2 Who are we?
    h3 We are 3 almost master ninjas training at the
      strong  #best #ninja #academy
    h1.text-center
      a(href="https://telerikacademy.com/")  Telerik's Software Academy
  br
  div.well.well-lg.text-center
    h2 Родотея Йорданова
      a(href="https://telerikacademy.com/Users/Rodoteia_Yordanova")  Rodoteia_Yordanova
  div.well.well-lg.text-center
    h2 Ивайло Ранков
      a(href="https://telerikacademy.com/Users/ivo.rankov.7")  ivo.rankov.7
  div.well.well-lg.text-center
    h2 Петър Милчев
      a(href="https://telerikacademy.com/Users/pepinho24")  pepinho24

  div.well.well-sm.text-center You can find our project's source code at
    a(href="https://github.com/NodeNubs/NodeApp")  Github

