extends layout

block content
  h1 Welcome to our pirate friendly site =)
  div.jumbotron
    h1 There are a total of #{data.users} registered pirates
  div.jumbotron
    h1 And they pirated #{data.torrents}  torrents!
