doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width')
    title= Ping
    block css
      link(rel='stylesheet', href='/css/style.css')
      link(rel="stylesheet" href='/css/bootstrap.min.css')
    block js
      if ENV_DEVELOPMENT
        script(src='http://localhost:35729/livereload.js')
  body
    div(class="navbar navbar-default navbar-fixed-top")
      div(class="container")
        div(class="navbar-header")
          a(href="/" class="navbar-brand") Pirates R Us
        div(class="navbar-navbar" id="navbar-main")
          ul(class="nav navbar-nav")
            li
              a(href="/") Home
            li
              a(href="/categories") Categories
            li
              a(href="/alltorrents") Torrents
            li
              a(href="/about") Who are we?
          ul(class="nav navbar-nav navbar-right")
            if(authService.isAuthenticated)
              li
                a(href="/addTorrent") Add Torrent
              li
                a(href="/managetorrents") Manage Torrents
              li
                a(href="/manager") #{authService.user.username}
              li
                a(href="/logout") Logout
            else
              li
                a(href="/login") Login
              li
                a(href="/register") Register
              li
                a(href="/administration")

    .container
      if(errorMessage)
        div(class="btn btn-danger pull-right") #{errorMessage}

      if(successMessage)
        div(class="btn btn-success pull-right") #{successMessage}

      block content
