extends ../layout
block content
  h1 Users
  div(class="row" ng-controller="AdminController as vm")
    each user in data
      div(class="wrapper")
        div(class="col-md-3")
          strong #{user.username}
        div(class="col-md-3")
          strong #{user.email}
        div(class="col-md-3")
          p #{user.about}
        div(class="col-md-3")
          - var username = 'asd'
          button(class="btn btn-danger" ng-click='vm.deleteUser("#{user.username}")') Delete User
        div(class="col-md-12")
        hr

