extends ../layout
block content
  h1 User Manager
  div(class="row")
    div(class="col-md-6 col-md-offset-3")
      form(class="form-horizontal" name="registerForm" method="post")
        fieldset
          legend Profile Info
          div(class="form-group")
            label(for="nickname" class="col-lg-2 control-label") Your nickname
            div(class="col-lg-10")
              input(type="text" class="form-control" id="nickname" required="required" value="#{authService.user.username}")
          div(class="form-group")
            label(for="email" class="col-lg-2 control-label") Your email
            div(class="col-lg-10")
              input(type="text" class="form-control" id="email" required="required" value="#{authService.user.email}")
          div(class="form-group")
            label(for="about" class="col-lg-2 control-label") Your AboutMe info 
            div(class="col-lg-10")
              input(type="text" class="form-control" id="about" required="required" value="#{authService.user.about}")
          div(class="form-group")
            div(class="col-lg-10 col-lg-offset-2")
              input(type="submit" class="btn btn-primary" value="Submit Canges")
